<nav class="navbar navbar-light bg-light">
    <!-- <div class="container-fluid"> -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            </a>
            <svg class="bi" width="32" height="32" fill="currentColor">
                <use xlink:href="bootstrap-icons.svg#heart-fill"/>
              </svg>
              <svg class="bi" width="32" height="32" fill="currentColor">
                <use xlink:href="bootstrap-icons.svg#toggles"/>
              </svg>
              <svg class="bi" width="32" height="32" fill="currentColor">
                <use xlink:href="bootstrap-icons.svg#shop"/>
              </svg>
            <!-- <ul class="nav navbar-nav">
                            <li><a href="/display">Display</a></li>
            </ul> -->
        </div>
    <!-- </div> -->
</nav>
