<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />


    <style>

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }


      body {
        padding-top: 0rem;
        padding-bottom: 3rem;
        color: #5a5a5a;
      }

      footer {
        padding-top: 1rem;
        padding-bottom: 3rem;
      }


      h1{
          padding-bottom: 0px;
      }

      h2{
        font-weight: 300;
        padding-bottom: 30px;
      }

      h5{
          color: #708090;
      }

      /* Ajout de l'effet souligné */

      .Option{
        text-decoration:none;
        padding: 5px 0px;
        padding-bottom: 1px;
        text-align: center;
      }

      .Option:after {
        content: '';
        display: block;
        margin: auto;
        height: 1px;
        width: 0;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }

      .Option:hover:after {
        width: 90%;
        background: lightgrey;
      }

      /* Fin de l'ajout de l'effet souligné */



      /* Featurettes
      ------------------------- */

      .featurette-divider {
        padding-bottom: 2rem;
      }

      /* Thin out the marketing headings */
      .featurette-heading {
        font-weight: 300;
        line-height: 1;
        letter-spacing: -.05rem;
      }
      .featurette {
        padding-left: 5rem;
      }


      /* RESPONSIVE CSS
      -------------------------------------------------- */

      @media (min-width: 40em) {
        /* Bump up size of carousel content */

        .featurette-heading {
          font-size: 40px;
        }
      }

      @media (min-width: 62em) {
        .featurette-heading {
          margin-top: 10rem;
        }
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
      }

      #options{
        padding-bottom: 10px;
      }

      /* Formulaire */

      .form{
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 250px; 
      }

      label {
        text-align: center;
        padding-top: 20px;
        display: inline-block;
        cursor: pointer;
      }

      .inputfile {
        font-size: 1em;
        font-weight: 700;
        border-radius : 10px;
        display: inline-block;
        cursor: pointer;
      }

      #submit{
        text-align: center;
        margin-top: 15px;
        margin-left:10%;
        width: 200px;
        background-color: #ffffff;
        border-radius: 5px;
      }

      #submit:hover {
          background-color: #dddddd;
      }
    </style>


    <!-- Custom styles for this template -->

  </head>
  <body>

    <% include ../partials/header %>

    <header>

      <div class="container-fluid">
        <h1 class="text-center">Web interface for positive selection</h1>
        </div>
      </div>

    </header>


  <main>
    <div class="form">
      <form method="post" action="/display" enctype="multipart/form-data">
        <label class="btn btn-default btn-sm center-block btn-file">
          <i class="fa fa-upload fa-2x" aria-hidden="true"><br>Load xml file</i>
          <input type="file" name="file" class="inputfile" style="display: none;" required>
          <p class="filename"></p>
        </label>
        <input type="submit" value="Display with new xml file" id="submit">
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('input[type="file"]').change(function(e) {
          var file = e.target.files[0].name;
          $(".filename").append(file)
        });
      });
    </script>

    <!-- Partie 1 -->

      <!-- Exemple d'affichage -->

      <div class="container-fluid text-center">
        <h2 class="text-center"><span class="text-muted">A display example...</span></h2>

        <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.15752-9/265855207_2902801066697686_749227564819002198_n.png?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_ohc=nV1MAt4-u50AX9wuLs3&_nc_ht=scontent-cdg2-1.xx&oh=03_AVKQtyfameSeRoMMZtvYEOFg6H1fuXj3xPaH3CPian7OZA&oe=61DEAD2F" alt="exemple d'affichage" width="1050" height="500"/>
      </div>

      <!-- Description des options d'affichage -->

      <div class="container-fluid text-center">
        <h2 class="text-center"><span class="text-muted">... and its various options :</span></h2>

        <div class="col-lg-3">
          <h5 class="Option">On click</h5>
          <p class="text-center">Reverse branches <br/> Select nodes to display</p>
        </div>

        <div class="col-lg-3">
          <h5 class="Option">Expand/Compact tree</h5>
          <p class="text-center">Increase/Decrease <br/> spaces between branches</p>
        </div>

          <div class="col-lg-3" id="options">
            <h5 class="Option text-center">AlignmentNature</h5>
            <p class="text-center">Display of nucleotid <br/> or protein sequences</p>
          </div>

          <div class="col-lg-3" id="options">
            <h5 class="Option">WidthSize +/- </h5>
            <p class="text-center">Increase/Decrease <br/> the tree's width</p>
          </div>

        <!--  <div class="OptionsRow2"> -->
            <div class="col-lg-3 " id="options">
              <h5 class="Option">HeightSize +/- </h5>
              <p class="text-center">Increase/Decrease <br/> the tree's height</p>
            </div>

            <div class="col-lg-3" id="options">
              <h5 class="Option">ExportSVG</h5>
              <p class="text-center">Results export <br/> in svg format</p>
            </div>

            <div class="col-lg-3" id="options">
              <h5 class="Option">Upper / Lower threshold</h5>
              <p class="text-center">Choice of upper/lower threshold<br/>of positive selection values</p>
            </div>
            </div>
        </div>
          <hr class="featurette-divider">


    <!-- FOOTER -->

    <footer class="container text-center">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>&copy; Master Bioinformatique, Université Lyon 1. </p>
    </footer>
  </main>

  <!-- FIN FOOTER -->


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
