<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <!-- <title><%= title %></title> -->

    <!-- Bootstrap core CSS -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
    <!-- Font Awesome -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" /> -->
    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="/css/css_proj.css"> -->

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <%- include('../partials/head') %>

  </head>
  <body>
    <header>

      <%- include('../partials/header') %>
      
      <div class="container-fluid">
        <h1 class="text-center">Web interface for positive selection</h1>
        </div>
      </div>
      <nav>
        <!-- <a href="test-arbre">test-arbre</a> -->
      </nav>
    </header>

    <main>
      <!-- <div><h3>Tree</h3><p id="tree-file-content"></p></div> -->
      <!-- <div><h3>Alignment</h3><p id="alignment-file-content"></p></div> -->
      <!-- <div><h3>Results</h3><p id="results-file-content"></p></div> -->
      <div class="form">
        <form method="post" action="/upload_files" enctype="multipart/form-data">
          <div class="form-group">
            <label class="btn btn-default btn-sm center-block btn-file">
              <i class="fa fa-upload fa-2x" aria-hidden="true"><br>Tree file</i>
              <input id="tree-file-input" type="file" name="file_t" class="inputfile" style="display: none;" required />
              <p class="filename"></p>
              <div id="tree-file-check-mark"></div>
            </label>
            <label class="btn btn-default btn-sm center-block btn-file">
              <i class="fa fa-upload fa-2x" aria-hidden="true"><br>Alignment file</i>
              <input id="alignment-file-input" type="file" name="file_a" class="inputfile" style="display: none;" required />
              <p class="filename"></p>
              <div id="alignment-file-check-mark"></div>
            </label>
            <label class="btn btn-default btn-sm center-block btn-file">
              <i class="fa fa-upload fa-2x" aria-hidden="true"><br>Results file</i>
              <input id="results-file-input" type="file" name="file_r" clas="inputfile" style="display: none;" required />
              <p class="filename"></p>
              <div id="results-file-check-mark"></div>
            </label>
          </div>
          
          <div class="form-group">
            <label for="statcol">Statistics column</label>
            <input id="statcol" class="form-control" type="number" name="statcol" value="1" min="0" step="1" required />
            <label for="nostat">Missing statistics value</label>
            <input id="nostat" class="form-control" type="number" name="nostat" value="-1" step="1" required />
            
            <label for="sitebranch">Site-branch</label><input id="sitebranch" class="form-control" type="checkbox" name="sitebranch" />
          </div>
          
          <!-- <div class="form-group">
            <input id="is-sitebranch" class="col-xs-3 pull-left" type="checkbox" name="is-sitebranch" />
            <label class="col-xs-9" for="is-sitebranch">Statistics column</label>
          </div> -->

          <button type="submit" id="submit">Display</button>
        </form>
      </div>

      <!-- Exemple d'affichage -->

      <div class="container-fluid text-center">
        <h2 class="text-center"><span class="text-muted">An example of display...</span></h2>
        <!-- <img src="public/ExempleAffichage.png" alt="exemple d'affichage" width="1050" height="500"/> -->
        <img src="media/ExempleAffichage.png" alt="exemple d'affichage" />
      </div>

      <!-- Description des options d'affichage -->

      <div class="container-fluid text-center">
        <h2 class="text-center"><span class="text-muted">...and its various options</span></h2>

        <div class="col-lg-3">
          <h5 class="Option">On click</h5>
          <p class="text-center">Reverse branches <br/> Select nodes to display</p>
        </div>

        <div class="col-lg-3">
          <h5 class="Option">Expand/Compact tree</h5>
          <p class="text-center">Increase/Decrease <br/> spaces between branches</p>
        </div>

        <div class="col-lg-3" id="options">
          <h5 class="Option text-center">AlignmentNature</h5>
          <p class="text-center">Display of nucleotid <br/> or protein sequences</p>
        </div>

        <div class="col-lg-3" id="options">
          <h5 class="Option">WidthSize +/- </h5>
          <p class="text-center">Increase/Decrease <br/> the tree's width</p>
        </div>

        <div class="col-lg-3 " id="options">
          <h5 class="Option">HeightSize +/- </h5>
          <p class="text-center">Increase/Decrease <br/> the tree's height</p>
        </div>

        <div class="col-lg-3" id="options">
          <h5 class="Option">ExportSVG</h5>
          <p class="text-center">Results export <br/> in svg format</p>
        </div>

        <div class="col-lg-3" id="options">
          <h5 class="Option">Upper / Lower threshold</h5>
          <p class="text-center">Choice of upper/lower threshold<br/>of positive selection values</p>
        </div>
      </div>
      
      <hr class="featurette-divider">

      <footer class="container text-center">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>Université Lyon 1 - Master Bioinformatique</p>
      </footer>
    </main>

  </body>
  <script type="text/javascript">
  $(document).ready(function() {
    $('[id$="-file-input"]').each(function(i, elt) {
      if ($('#'+elt.id).val() != '') {
        $("#"+elt.id+" + .filename").html(''+$('#'+elt.id)[0].files[0].name);
      } else {
        $("#"+elt.id+" + .filename").html('');
      }
    });
    
    $('input[type="file"]').change(function(e) {
      var filename = e.target.files[0].name;
      console.log('File changed on input with id: ' + e.target.id);

      var selectedFile = document.getElementById(e.target.id).files[0];
      var content = document.getElementById(e.target.id.split('-')[0]+'-file-content');
      var reader = new FileReader();
      reader.onload = function(event) {
        var lines = this.result.split('\n');
        var treeRegex = new RegExp('^[\(][\w0-9\-_,:\(\);]+');
        var alignmentRegex = new RegExp('^>.*\n[ACGTU\-]+');
        var resultsRegex = new RegExp('[0-9]+((\t| )[\-]?[0-9]+[\.]?[0-9]+)+');
        console.log(reader.result);
        var isMatch = null;
        if (e.target.id.substring(0, 4) === 'tree') {
          isMatch = treeRegex.test(reader.result);
        } else if (e.target.id.substring(0, 4) === 'alig') {
          isMatch = alignmentRegex.test(reader.result);
        } else if (e.target.id.substring(0, 4) === 'resu') {
          isMatch = resultsRegex.test(reader.result);
        } else {
          console.log('Unrecognized ID: '+e.target.id);
        }
        console.log(isMatch);
        if (isMatch) {
          $("#"+e.target.id+" + .filename").html('✅ '+filename); 
        } else {
          $("#"+e.target.id+" + .filename").html('⚠️ '+filename); 
        }
        // content.innerHTML = '';
        // for (var i = 0; i < Math.min(lines.length, 4); i ++) {
        //   content.innerHTML += lines[i].substring(0, 80)+'<br>';
        //   console.log(lines[i].substring(0, 80));
        // }
      };
      reader.readAsText(selectedFile);
    });
  });
  </script>
</html>
