<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<p>Example of simple tree node server</p>

<a href="test-affichage-graphe " style="display: block;">Page de test (affichage graphe)</a>
<a href="test-formulaire" style="display: block;">Page de test (formulaire)</a>
<a href="test-affichage-fichier" style="display: block;">Page de test (affichage fichier)</a>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
