<!DOCTYPE html>
<html lang="en">
<body class="container">
<head><% include ../partials/head %></head>
<header><% include ../partials/header %></header>
<footer><% include ../partials/footer %></footer>
<script>
console.log('coucou');

</script>
</body>
</html>
