<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <!-- <h3>Formulaire simple</h3>
        <form method="post" action="/upload_files">
            <label for="texte">Du texte :</label><input type="text" name="texte" id="texte" required/>
            <input type="submit" value="Envoyer"/>
        </form> -->

        <!-- <h3>Fichiers multiples</h3>
        <form id="form2" method="post" action="/upload_files" enctype="multipart/form-data">
            <label for="files">Fichier test :</label><input type="file" name="files" id="files" maxCount="3" multiple required />
            <button type="submit">Envoyer</button>
        </form> -->

        <h3>Plusieurs fichiers simples</h3>
        <form id="form3" method="post" action="/upload_files" enctype="multipart/form-data">
            <label for="file_t">Arbre</label><input type="file" name="file_t" id="file_t" required />
            <label for="file_a">Alignement</label><input type="file" name="file_a" id="file_a" required />
            <label for="file_r">Résultats</label><input type="file" name="file_r" id="file_r" required />
            <button type="submit">Envoyer</button>
        </form>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>
