<!-- views/pages/test_perso.ejs -->
<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <h3>Formulaire simple</h3>
        <form method="post" action="/submit-test">
            <label for="u_texte">Du texte :</label><input type="text" name="u_texte" id="u_texte" required/>
            <input type="submit" value="Envoyer"/>
        </form>

        <h3>Formulaire de test</h3>
        <form method="post" action="/submit-test" enctype="multipart/form-data">
            <label for="u_fichier_test">Fichier test :</label><input type="file" name="u_fichier_test" id="u_fichier_test" required/>
            <input type="submit" value="Envoyer"/>
        </form>

        <h3>Futur formulaire</h3>
        <form method="post" action="/submit-3files" enctype="multipart/form-data">
            <label for="u_fichier_alignement">Alignement</label><input type="file" name="u_fichier_alignement" id="u_fichier_alignement" required/>
            <label for="u_fichier_arbre">Arbre</label><input type="file" name="u_fichier_arbre" id="u_fichier_arbre" required/>
            <label for="u_fichier_resultats">Résultats</label><input type="file" name="u_fichier_resultats" id="u_fichier_resultats" required/>
            <input type="submit" value="Envoyer"/>
        </form>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>
