<!DOCTYPE html>
<html lang="en">
    <body class="container">
        <head>
            <% include ../partials/head %>
        </head>
        
        <header>
            <% include ../partials/header %>
        </header>

        <!-- <h3>Formulaire simple</h3>
        <form method="post" action="/upload_files">
            <label for="texte">Du texte :</label><input type="text" name="texte" id="texte" required/>
            <input type="submit" value="Envoyer"/>
        </form> -->

        <!-- <h3>Fichiers multiples</h3>
        <form id="form2" method="post" action="/upload_files" enctype="multipart/form-data">
            <label for="files">Fichier test :</label><input type="file" name="files" id="files" maxCount="3" multiple required />
            <button type="submit">Envoyer</button>
        </form> -->

        <!-- <h3>Plusieurs fichiers simples</h3>
        <form method="post" action="/upload_files" enctype="multipart/form-data">
            <label for="file_t">Arbre</label><input type="file" name="file_t" id="file_t" required />
            <label for="file_a">Alignement</label><input type="file" name="file_a" id="file_a" required />
            <label for="file_r">Résultats</label><input type="file" name="file_r" id="file_r" required />
            <label for="statcol">Statistics column</label><input id="statcol" type="number" name="statcol" value="1" min="0" step="1" />
            <label for="nostat">Missing statistics value</label><input id="nostat" type="number" name="nostat" value="-1" step="1" />
            <label for="xml-name">XML name</label><input id="xml-name" type="text" name="xml-name" value="input_tree" />
            <button type="submit">Envoyer</button>
        </form> -->

        <!-- <div class="form">
            <form method="post" action="/upload_files" enctype="multipart/form-data">
                <label class="btn btn-default btn-sm center-block btn-file">
                <i class="fa fa-upload fa-2x" aria-hidden="true"><br>Tree file</i>
                <input id="tree-file-input" type="file" name="file_t" class="inputfile" style="display: none;" required />
                <p class="filename"></p>
                </label>
                <label class="btn btn-default btn-sm center-block btn-file">
                <i class="fa fa-upload fa-2x" aria-hidden="true"><br>Alignment file</i>
                <input id="alignment-file-input" type="file" name="file_a" class="inputfile" style="display: none;" required />
                <p class="filename"></p>
                </label>
                <label class="btn btn-default btn-sm center-block btn-file">
                <i class="fa fa-upload fa-2x" aria-hidden="true"><br>Results file</i>
                <input id="results-file-input" type="file" name="file_r" clas="inputfile" style="display: none;" required />
                <p class="filename"></p>
                </label>
                <label for="statcol">Statistics column</label><input id="statcol" type="number" name="statcol" value="1" min="0" step="1" />
                <label for="nostat">Missing statistics value</label><input id="nostat" type="number" name="nostat" value="-1" step="1" />
                <label for="xml-name">XML name</label><input id="xml-name" type="text" name="xml-name" value="input_tree" />
                <input type="submit" value="Display" id="submit" />
            </form>
        </div>
        <script type="text/javascript">
        $(document).ready(function() {
            $('input[type="file"]').change(function(e) {
            var filename = e.target.files[0].name;
            console.log('File changed on input with id: ' + e.target.id);
            $("#" + e.target.id + " + .filename").html(filename);
            });
        });
        </script> -->

        <div class="form">
            <form method="post" action="/upload_files" enctype="multipart/form-data">
                <label class="btn btn-default btn-sm center-block btn-file">
                <i class="fa fa-upload fa-2x" aria-hidden="true"><br>Tree file</i>
                <input id="tree-file-input" type="file" name="file_t" class="inputfile" style="display: none;" required />
                <p class="filename"></p>
                </label>

                <label class="btn btn-default btn-sm center-block btn-file">
                <i class="fa fa-upload fa-2x" aria-hidden="true"><br>Alignment file</i>
                <input id="alignment-file-input" type="file" name="file_a" class="inputfile" style="display: none;" required />
                <p class="filename"></p>
                </label>

                <label class="btn btn-default btn-sm center-block btn-file">
                <i class="fa fa-upload fa-2x" aria-hidden="true"><br>Results file</i>
                <input id="results-file-input" type="file" name="file_r" clas="inputfile" style="display: none;" required />
                <p class="filename"></p>
                </label>

                <label for="statcol">Statistics column</label><input id="statcol" type="number" name="statcol" value="1" min="0" step="1" />

                <label for="nostat">Missing statistics value</label><input id="nostat" type="number" name="nostat" value="-1" step="1" />

                <input type="submit" value="Display" id="submit" />
            </form>
        </div>
        <script type="text/javascript">
        $(document).ready(function() {
            $('input[type="file"]').change(function(e) {
            var filename = e.target.files[0].name;
            console.log('File changed on input with id: ' + e.target.id);
            $("#" + e.target.id + " + .filename").html(filename);
            });
        });
        </script>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>
