<!-- views/pages/test_perso.ejs -->
<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <!-- <form method="post" action="/submit-3files" enctype="multipart/form-data">
            <label for="u_fichier_alignement">Alignement</label><input type="file" name="u_fichier_alignement" id="u_fichier_alignement" required/>
            <label for="u_fichier_arbre">Arbre</label><input type="file" name="u_fichier_arbre" id="u_fichier_arbre" required/>
            <label for="u_fichier_resultats">Résultats</label><input type="file" name="u_fichier_resultats" id="u_fichier_resultats" required/>
            <input type="submit" value="Envoyer"/>
        </form> -->

        <form method="post" action="/submit-3files" enctype="multipart/form-data">
            <label for="u_fichier">Fichier :</label><input type="file" name="u_fichier" id="u_fichier" required/>
            <input type="submit" value="Envoyer"/>
        </form>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>
