<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <h3>Formulaire simple</h3>
        <form method="post" action="/upload_files">
            <label for="texte">Du texte :</label><input type="text" name="texte" id="texte" required/>
            <input type="submit" value="Envoyer"/>
        </form>

        <h3>Formulaire de test</h3>
        <form method="post" action="/upload_files" enctype="multipart/form-data">
            <label for="single_uploadd_file">Fichier test :</label><input type="file" name="single_uploadd_file" id="single_uploadd_file" required/>
            <input type="submit" name="single_uploadd_file" value="Envoyer"/>
        </form>

        <h3>Futur formulaire</h3>
        <form id="form3" method="post" action="/upload_files" enctype="multipart/form-data">
            <label for="file1">Alignement</label><input type="file" name="file1" id="file1" required/>
            <label for="file2">Arbre</label><input type="file" name="file2" id="file2" required/>
            <label for="file3">Résultats</label><input type="file" name="file3" id="file3" required/>
            <input type="submit" value="Envoyer"/>
        </form>

        <footer>
            <% include ../partials/footer %>
        </footer>

        <script>
            // script.js
            const form = document.getElementById("form3");

            form.addEventListener("submit", submitForm);

            function submitForm(e) {
                e.preventDefault();
                const files = [document.getElementById("file1"), document.getElementById("file2"), document.getElementById("file3")];
                // const name = document.getElementById("name");
                // const files = document.getElementById("files");
                const formData = new FormData();
                // formData.append("name", name.value);
                for (let i = 0; i < files.length; i ++) {
                    formData.append("files", files[i]);
                }
                fetch("http://localhost:8888/upload_files", {
                    method: 'POST',
                    body: formData,
                    headers: {
                    "Content-Type": "multipart/form-data"
                    }
                })
                .then((res) => console.log(res))
                .catch((err) => ("Error occured", err));

                
                console.log(files);

            }
        </script>
    </body>
</html>
