.seqblock text {
      color: #000;
      cursor: text;
      font-family: 'Courier';
      font-size: 1.667rem;
}
nav label {
      font-weight: 400;
      margin: 0 10px;
}

input[type=number] {
      width: 80px;
}
form {
      border: 1px solid black;
      padding: 1rem;
      /*color: red;*/
}
