nav label {
      font-weight: 400;
      margin: 0 10px;
}
input[type=number] {
      width: 80px;
}
form {
      border: 1px solid black;
      padding: 1rem;
}

.seqblock text {
      color: #000;
      cursor: text;
      font-family: 'Courier';
      font-size: 1.667rem;
}
.node.seqblock {
      cursor: default;
}

/*#mon-div-defilable {
      display: block;
      width: 400px;

      border: 3px solid #666;
      margin: 5px;
      padding: 5px;
      position: relative;
      width: 1000px;
      height: 600px;
      overflow: auto;
}*/
